body {
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.login_email {
  padding-right: 5px;
}

.login_password {
  padding-right: 5px;
}

.custom_navbar {
  border: none;
  border-radius: 0;
  background-color: rgb(195, 39, 46);
  height: 72px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.navbar_logo {
  margin: 0;
  padding-left: 0;
  margin-top: -15px;

}

.navbar_logo_img {
  /*box-shadow: 10px 0px rgba(0, 0, 0, 0.1);*/
}

.navbar_title {
  margin-top: -10px;
  font-family: 'PT Serif', serif;
  font-size: 22px;
  line-height: 1;
  text-align: left;
  /*text-shadow: 4px 0px rgba(0, 0, 0, 0.1);*/
}

.navbar_sub_title {
  font-family: 'Roboto Condensed', serif;
  font-size: 20px;
}

.navbar-brand {
  color: #fff !important;
}

.input_field {
  box-shadow: none !important;
  border: none;
  background-color: rgb(195, 39, 46);
  border-radius: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #fff !important;
}

.input_field::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.input_field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.input_field::placeholder {
  color: #fff;
}

.input_field:focus {
  color: #fff;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #fff !important;
  background-color: rgb(195, 39, 46) !important;
}

.btn_login {
  margin-left: 10px;
  width: 80px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgb(195, 39, 46);
}

.btn_login:hover {
  border: 0;
  background-color: #fff;
  color: rgb(195, 39, 46);
}

.video_content {
  margin-top: 2%;
}

.sign_up_content {}

.sign_up_title {
  text-align: left;
  margin-bottom: 25px;
  line-height: 1;
  font-family: 'PT Serif', serif;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.001em;
}

.body_content {
  margin-top: 10px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: #606060;
  text-align: right;
  height: 30px;
  padding-right: 5px;
  padding-top: 15px;
}

.login_input {
  border-color: #606060 !important;
}

.login_input::-webkit-input-placeholder {
  /* Edge */
  color: #606060;
}

.login_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #606060;
}

.login_input::placeholder {
  color: #606060;
}

.btn_sign_up {
  background-color: #000;
  color: #fff;
}

.btn_sign_up:hover {
  background-color: #606060;
  color: #fff;
}